@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:800,900");

body {
  font-family: Alegreya Sans, sans-serif;
}
* {
   -moz-box-sizing: border-box; /* Для Firefox */  
    box-sizing: border-box; /* Ширина блока с полями */
}

/* КНОПКА */
.button {
    max-width: 350px;
    background-color: #000;
    padding: 15px;
    text-align: center;
}
.button:hover {
  background-color: #4ce68c;
}

.button a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}
button {
    border: none;
    color: #fff;
    cursor: pointer;
}

/* МЕНЮ */

nav {
  display: block;
  position: fixed;
  width: 500px;
  height: 500px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transform: translate3d(25px, -25px, 0);
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}
nav.open {
  transform: translate3d(0, 0, 0);
}
nav.top-right {
  top: -140px;
  right: -140px;
}

.disc {
  position: absolute;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font: 18px Alegreya Sans, sans-serif;
  line-height: 40px;
  padding-top: 10px;
  border-radius: 50%;
  transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, 190deg);
  pointer-events: none;
  opacity: 0;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s;
}
.disc div {
  transform: rotate(180deg);
}
.open .disc {
  pointer-events: auto;
  opacity: 1;
}

.l1 {
  top: -100px;
  left: -100px;
  right: -100px;
  bottom: -100px;
  background: #f2bfd5;
  transition-delay: 0s;
}
.open .l1 {
  transition-delay: 0s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l1:hover {
  background: shade(tomato, 90%);
  color: tomato;
  transition-delay: 0s;
}
.open .l1:active {
  background: shade(tomato, 50%);
  color: tomato;
}
.open .l1.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l2 {
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
  background: #eb94b8;
  transition-delay: 0.1s;
}
.open .l2 {
  transition-delay: 0.1s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l2:hover {
  background: shade(#ff7a39, 90%);
  color: #ff7a39;
  transition-delay: 0s;
}
.open .l2:active {
  background: shade(#ff7a39, 50%);
  color: #ff7a39;
}
.open .l2.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l3 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #e3689b;
  transition-delay: 0.2s;
}
.open .l3 {
  transition-delay: 0.2s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l3:hover {
  background: shade(#ff912b, 90%);
  color: #ff912b;
  transition-delay: 0s;
}
.open .l3:active {
  background: shade(#ff912b, 50%);
  color: #ff912b;
}
.open .l3.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l4 {
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  background: #db3d7f;
  transition-delay: 0.3s;
}
.open .l4 {
  transition-delay: 0.3s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l4:hover {
  background: shade(#ffa91c, 90%);
  color: #ffa91c;
  transition-delay: 0s;
}
.open .l4:active {
  background: shade(#ffa91c, 50%);
  color: #ffa91c;
}
.open .l4.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}
.l5 {
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  background: #ff7e93;
  transition-delay: 0.3s;
}
.open .l5 {
  transition-delay: 0.3s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l5:hover {
  background: shade(#ffa91c, 90%);
  color: #ffa91c;
  transition-delay: 0s;
}
.open .l5:active {
  background: shade(#ffa91c, 50%);
  color: #ffa91c;
}
.open .l5.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l6 {
  top: 150px;
  left: 150px;
  right: 150px;
  bottom: 150px;
  background: #fb607f;
  transition-delay: 0.3s;
}
.open .l6 {
  transition-delay: 0.3s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l6:hover {
  background: shade(#ffa91c, 90%);
  color: #ffa91c;
  transition-delay: 0s;
}
.open .l6:active {
  background: shade(#ffa91c, 50%);
  color: #ffa91c;
}
.open .l6.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l7 {
  top: 200px;
  left: 200px;
  right: 200px;
  bottom: 200px;
  background: #ffc00e;
  transition-delay: 0.4s;
}
.open .l7 {
  transition-delay: 0.4s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l7:hover {
  background: shade(#ffc00e, 90%);
  color: #ffc00e;
  transition-delay: 0s;
}
.open .l7:active {
  background: shade(#ffc00e, 50%);
  color: #ffc00e;
}
.open .l7.toggle {
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
}

.toggle {
  line-height: 100px;
  padding: 0;
  width: 100px;
  background: url('../image/menu.png') center;
  -webkit-background-size: cover;
  background-size: cover;
  opacity: 1;
  transform: none;
  pointer-events: auto;
  transition-delay: 0s;
}
.open .toggle {
  transform: rotate3d(0, 0, 1, 0deg);
}
.toggle:hover {
  background: shade(gold, 90%);
}
.toggle:active {
  background: shade(gold, 50%);
  color: rgba(255, 215, 0, 0.5);
  transform: scale(0.9);
  transition-duration: 0s;
}
.top-right a {
  text-decoration: none;
  color: #fff;
}

/* ШАПКА */
.head {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  position: fixed;
  background-color: #fff;
  width: 100%;
  max-width: 1220px;
  padding-top: 20px;
}
.header div {
}
.logo {
  width: 15%;
}
.menu {
  width: 65%;
}
.menu ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-between;

}
.menu a {
  text-decoration: none;
  color: #000;
}
.menu li {  
  
}
.cart {
  width: 10%;
}

/* ИНТРО */
.intro {
  width: 100%;
  height: 100vh;
  background: url(../image/intro/tort.jpg) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: start;
  align-items: center;
}
.left-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 530px;
}
.intro-content {
    max-width: 1220px;
    margin: 0 auto;
    width: 100%;
}
.intro-text h2 {
    color: #FFC328;
    font-size: 36px;
    text-transform: uppercase;
}
.intro-text h1{
    margin: 0;
    color: #000;
    font-size: 36px;
    text-transform: none;
}
.intro-text p {
    margin: 0;
    font-size: 24px;
    color: #000;
    letter-spacing: 1px;
}